@model IEnumerable<KinderGarten.Models.Izlet>
@using X.PagedList.Mvc.Core;
@using X.PagedList;

@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> SignInManager;
@inject UserManager<User> UserManager;
@{var usr = await UserManager.GetUserAsync(User);}

@{
    ViewData["Title"] = "PrikazGradova";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            @if (usr.Role != "Roditelj")
            {
                <a href="#" ajax-poziv="da" ajax-url="/Izlet/DodajIzlet" ajax-rezultat="dodajGradModalBody" ajax-modal="smallmodal" class="btn btn-secondary m-b-10" style="background-color:#333"><i class="fa fa-plus m-r-10"></i>Dodaj</a>

            }
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive table-primary m-b-30">
                        <table class="table table-borderless table-striped table-earning">
                            <thead>
                                <tr>
                                    <th>Lokacija</th>
                                    <th>Trajanje</th>
                                    @if (usr.Role != "Roditelj")
                                    {
                                        <th>Izbriši</th>

                                    }
                                    <th>Detalji</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var izlet in Model)
                                {
                                    <tr>
                                        <td>@izlet.Lokacija</td>
                                        <td>@izlet.DatumIzletaOd.ToShortDateString() - @izlet.DatumIzletaDo.ToShortDateString()</td>
                                        @if (usr.Role != "Roditelj")
                                        {
                                            <td><a href="/Izlet/Obrisi?IzletID=@izlet.ID"><i class="fa fa-trash"></i></a></td>

                                        }
                                        <td><a href="/Izlet/Detalji?IzletID=@izlet.ID"><i class="fa fa-info"></i></a></td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page }),
                              new X.PagedList.Mvc.Core.Common.PagedListRenderOptions
                              {
                                  DisplayItemSliceAndTotal = false,
                                  ContainerDivClasses = new[] { "navigation" },
                                  LiElementClasses = new[] { "page-item" },
                                  PageClasses = new[] { "page-link" },
                              })
                </div>
            </div>
        </div>
    </div>
</div>



<!-- modal medium -->
<div class="modal fade" id="smallmodal" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="smallmodalLabel">Dodaj izlet</h5>
            </div>
            <div class="modal-body" id="dodajGradModalBody">

            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(function () {
            $('ul.pagination > li.disabled > a').addClass('page-link');
        });
        //$(document).ready(function () {
        //    $('ul.pagination> li.disabled > a').addClass('paged-link');
        //});
    </script>

}