@{ Layout = null; }

@model KinderGarten.ViewModels.DodajUplatuVM

<div class="card">
    <div class="card-body">
        <form method="post" action="/Uplata/DodajUplatu" ajax-request="true" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <label for="uplata.RoditeljID">Roditelj</label>
            <select asp-for="RoditeljID" asp-items="@Model.Roditelj" class="form-control"></select>

            <label for="uplata.DijeteID">Dijete</label>
            <select asp-for="DijeteID" asp-items="@Model.Dijete" class="form-control"></select>

            <label for="uplata.VrstaUplateID">Vrsta uplate</label>
            <select asp-for="VrstaUplateID" asp-items="@Model.VrstaUplate" class="form-control"></select>

            <label for="seminar.Iznos">Iznos</label>
            <input asp-for="Iznos" class="form-control">

            <label for="seminar.DatumUplate">Datum uplate </label>
            <input asp-for="DatumUplate" class="form-control">





            <div style="display:flex;justify-content:flex-end;" class="m-t-10">
                <button type="button" class="btn btn-secondary m-r-10" data-dismiss="modal">Odbaci</button>
                <button type="submit" id="DodajGrad" class="btn btn-primary">Sačuvaj</button>
            </div>
        </form>
    </div>
</div>
